<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sklepomaty</title>
    <meta property="og:title" content="Twój własny Sklepomat" />
    <meta property="og:url" content="http://sklepomaty.com" />
    <meta property="og:description" content="Pozyskaj
    nowych klientów. Sprzedawaj
    więcej online. Zwiększaj
    sprzedaż.Otwieraj łatwo
    nowe punkty handlowe. Oszczędzaj na kosztach
    pracowniczych" />
    <meta property="og:image" content="http://sklepomaty.com/images/sklepomaty_fb.jpg" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/app.css" />
    <meta name="robots" content="noindex,nofollow">
</head>

<body>
    <div class="uk-container uk-container-xlarge">
        {% include "nav.html" %}
        {% include "slider.html" %}
        {% block content %}{% endblock %}
        {% include "kontakt.html" %}
    </div>

    <script src="js/main.js"></script>

    <script>
        gdprCookieNotice({
            statement: 'https://www.nold.io',
            performance: ['JSESSIONID'],
            analytics: ['_gat', 'ga'],
            marketing: ['SSID'],
            statement: 'https://google.com', //Link to your cookie statement page
        });
    </script>

    <script type="text/javascript">
        document.addEventListener('gdprCookiesEnabled', function (e) {
            if (e.detail.marketing) {
                console.log('marketing cookies are enabled');
            }
        });
    </script>
</body>

</html>