<section class="uk-section uk-height-large@l uk-background-cover uk-light uk-flex" data-uk-parallax="bgy: -200"
    style="background-image: url('./images/orange_background.jpg');" id="dla-kogo">
    <div class="uk-width-expand">
        <div class="uk-container">
            <header>
                <h2
                    class="uk-text-center uk-margin-auto uk-margin-auto-vertical uk-padding-small uk-padding-remove-top uk-margin-remove-top">
                    Dla
                    kogo?
                </h2>
            </header>
            <span class="divider divider--white uk uk-margin uk-margin-bottom"></span>
            <div class="uk-child-width-expand@l uk-flex-center uk-text-center" data-uk-grid>
                <div class="">
                    <div class="uk-text-left uk-padding-large uk-padding-remove-right">
                        <ul class="uk-list">
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Sklepy
                                spożywcze</li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Dyskonty
                            </li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Supermarkety
                            </li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Hipermarkety
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="uk-text-left uk-padding-large uk-padding-remove-right">
                        <ul class="uk-list">
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Apteki
                            </li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Sklepy
                                budowlane</li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Hurtownie
                            </li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Sklepy
                                internetowe</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="uk-text-left uk-padding-large uk-padding-remove-right">
                        <ul class="uk-list">
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Księgarnie</li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Drogerie
                            </li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Sklepy
                                zoologiczne</li>
                            <li><img src="./images/check.svg" alt="" width="30" class="uk-margin-right">Pralnie
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>