<section class="uk-section" id="jak-to-dziala">
    <div class="uk-container uk-container-small" data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300">
        <header>
            <h2 class="uk-text-center uk-padding-small uk-padding-remove-top uk-margin-remove-top uk-text-bold">Jak to
                działa?</h2>
        </header>
        <span class="divider uk uk-margin uk-margin-bottom"></span>
        <div class="uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m uk-text-center uk-text-right@l">
                <img src="./images/trolley.svg" alt="wózek zakupowy" width="200" height="200">
            </div>
            <div class="uk-width-1-2@m uk-text-bold uk-text-center uk-text-left@l">
                <span>Twój Klient <span class="text-gold">kupuje online</span>
                    <span class="uk-display-block">w Twoim sklepie internetowym</span>
                </span>
            </div>
        </div>
        <div class="uk-flex uk-flex-center">
            <div class="">
                <img src="./images/arrow_slim.svg" alt="strzałka skierowana w dół" width="17" height="68">
            </div>
        </div>
        <div class="uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m uk-text-center uk-text-right@l">
                <img src="./images/box.svg" alt="skrzynka z kolorowymi kafelkami" width="200" height="200">
            </div>
            <div class="uk-width-1-2@m uk-text-bold uk-text-center uk-text-left@l">
                <span>Po skompletowaniu zakupów Klienta
                    <span class="uk-display-block">umieszczasz je w <span
                            class="text-gold">Sklepomacie</span></span></span>
            </div>
        </div>
        <div class="uk-flex uk-flex-center">
            <div class="uk-card">
                <img src="./images/arrow_slim.svg" alt="" width="17" height="68">
            </div>
        </div>
        <div class="uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m uk-text-center uk-text-right@l">
                <img src="./images/phone_qr.svg" alt="telefon wyświetlający kod QR" width="200" height="200">
            </div>
            <div class="uk-width-1-2@m uk-text-bold uk-text-center uk-text-left@l">
                <span>Klient otrzymuje
                    <span class="uk-display-block">SMS-em <span class="text-gold">kod do odbioru</span></span>
                    zakupów</span>
            </div>
        </div>
        <div class="uk-flex uk-flex-center">
            <div class="">
                <img src="./images/arrow_slim.svg" alt="strzałka skierowana w dół" width="17" height="68">
            </div>
        </div>
        <div class="uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m uk-text-center uk-text-right@l">
                <img src="./images/bag.svg" alt="reka trzymajaca torebkę" width="200" height="200">
            </div>
            <div class="uk-width-1-2@m uk-text-bold uk-text-center uk-text-left@l">
                <div>Klient odbiera zakupy
                    <div class="text-gold">w dogodnym momencie,</div>
                    szybko i bezpiecznie!
                </div>
            </div>
        </div>
        <div class="uk-flex uk-flex-center bounce">
            <div class="uk-card uk-card-body uk-padding-large uk-padding-remove-bottom">
                <img src="./images/arrow_gray.svg" width="80" alt="strzałka skierowana do dołu">
            </div>
        </div>
    </div>
</section>