<footer class="uk-section uk-padding-remove-bottom" id="kontakt">
    <div class="uk-container uk-container-expand" data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300">
        <div class="uk-child-width-expand@m uk-text-left" data-uk-grid>
            <div>
                <div class="" data-uk-grid>
                    <div class="uk-width-1-3@m">
                        <div class=""></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <div>
                            <div class="uk-text-center uk-text-left@m uk-padding-small">
                                <h2
                                    class="uk-padding-small uk-padding-remove-top uk-padding-remove-left uk-margin-remove-top">
                                    Kontakt:</h2>
                                <span class="divider uk uk-margin uk-margin-bottom"></span>
                                <img src="./images/logo.png" alt="logo sklepomaty.com" width="288" height="48"
                                    class="uk-padding-small uk-padding-remove-left">
                                <p>ul.Nowosadecka 62
                                    <span class="uk-display-block">30-683 Kraków</p>
                                </p>
                                <p>
                                    <span><img src="./images/phone.svg" alt="ikona telefonu" width="24"
                                            class="uk-margin-small-right"><a href="tel:+48609101069"
                                            class="uk-text-bold"> 609 101
                                            069</a></span>
                                    <span class="uk-display-block"><img src="./images/mail.svg" alt="ikona telefonu"
                                            width="24" class="uk-margin-small-right">
                                        <a href="mailto:info@sklepomaty.com">info@sklepomaty.com</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-inline uk-visible@m">
                <div class="">
                    <img src="./images/bottom.png" alt="sklepomat" width="967" height="398" class="uk-position-bottom">
                </div>
            </div>
        </div>

    </div>
</footer>