<div class="slider uk-position-relative uk-visible-toggle" data-tabindex="-1"
    data-uk-slideshow="animation: fade; max-height: 460; autoplay: true; autoplay-interval: 5000">
    <!-- autoplay: true;autoplay-interval:5000 -->
    <ul class="uk-slideshow-items">
        <li>
            <img src="./images/slider_1.jpg" alt="" data-uk-cover>
            <div
                class="uk-position-large uk-position-center-left uk-text-right slider__content slider__content-left uk-visible@l">
                <div class="">
                    <h2 class="uk-margin-remove text-gold">Kupujemy OnLine</h2>
                    <span class="uk-display-block">w ulubionym sklepie</span>
                </div>
                <div class="uk-margin-top">
                    <h2 class="uk-margin-remove text-gold">Odbieramy</h2>
                    <span class="uk-display-block">podczas spaceru</span>
                </div>
            </div>
        </li>
        <li>
            <img src="./images/slider_3.jpg" alt="" data-uk-cover>
            <div
                class="uk-position-large uk-position-center-right uk-text-left slider__content slider__content-right uk-visible@l">
                <h2 class="uk-margin-remove">Zakupy odbieram <span class="text-gold">po pracy</span>
                    <span class="uk-display-block">często już po</span>
                    <span class="uk-display-block">zamknieciu sklepu</span>
                </h2>
            </div>
        </li>
        <li>
            <img src="./images/slider_2.jpg" alt="" data-uk-cover>
            <div
                class="uk-position-large uk-position-center-right uk-text-left slider__content slider__content-right uk-visible@l">
                <h2 class="uk-margin-remove">Zakupy odbieramy
                    <span class="uk-display-block text-gold">szybko i łatwo,</span>
                    <span class="uk-display-block">skanując otrzymany </span>
                    <span class="uk-display-block text-gold">kod QR </span>
                </h2>
            </div>
        </li>
        <li>
            <img src="./images/slider_4.jpg" alt="" data-uk-cover>
            <div
                class="uk-position-large uk-position-center-right uk-text-left slider__content slider__content-right uk-visible@l">
                <h2 class="uk-margin-remove">Prezenty <span class="text-gold">kupuję OnLine</span>
                    <span class="uk-display-block">w mojej ulubionej drogerii,</span>
                    <span class="uk-display-block text-gold">odbieram wygodnie </span>
                    <span class="uk-display-block">w Sklepomacie</span>
                </h2>
            </div>
        </li>
    </ul>

    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous
            data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next
            data-uk-slideshow-item="next"></a>
    </div>

</div>