<section class="uk-section" id="twoj-wlasny-sklepomat">
    <div class="uk-container" data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300">
        <header>
            <h2 class="uk-text-center uk-padding-small uk-padding-remove-top uk-margin-remove-top"><span
                    class="uk-text-bolder">Twój własny
                </span><span class="text-gold">Sklepomat</span>?
            </h2>
        </header>
        <span class="divider uk uk-margin uk-margin-bottom"></span>
        <div class="uk-flex uk-flex-around uk-width-2-3 uk-margin-auto uk-text-center">
            <div class="uk-card uk-card-body uk-padding-small"><span class="uk-text-bold">Pozyskaj</span>
                <div>nowych <span class="uk-text-bold">klientów</span></div>
            </div>

            <div class="uk-card uk-card-body uk-margin-left uk-padding-small"><span
                    class="uk-text-bold">Sprzedawaj</span>
                <div>więcej <span class="uk-text-bold">online</span></div>
            </div>
        </div>
        <div class="uk-flex uk-flex-center uk-text-center">
            <div class="uk-card uk-card-body uk-padding-small uk-text-bold">Zwiększaj
                <div>sprzedaż</div>
            </div>
        </div>
        <div class="uk-flex uk-flex-around uk-text-center">
            <div class="uk-card uk-card-body uk-padding-small">Otwieraj łatwo
                <div class="uk-text-bold">nowe punkty handlowe</div>
            </div>

            <div class="uk-card uk-card-body uk-margin-left uk-padding-small"><span
                    class="uk-text-bold">Oszczędzaj</span> na kosztach
                <div>pracowniczych</div>
            </div>
        </div>
        <img src="./images/top.jpg" width="1520" height="575" alt="sklepomat">
        <div class="uk-flex uk-flex-around uk-text-center">
            <div class="uk-card uk-card-body uk-padding-small"><span class="uk-text-bold">Bezpieczny</span>
                <div>odbiór zakupów</div>
            </div>

            <div class="uk-card uk-card-body uk-margin-left uk-padding-small">Twoi Klienci
                <div class="uk-text-bold">oszczędzą czas</div>
            </div>
        </div>
        <div class="uk-flex uk-flex-center uk-text-center">
            <div class="uk-card uk-card-body uk-padding-small"><span class="uk-text-bold">Odbiór zakupów</span>
                <div>"przy okazji", "po drodze"</div>
            </div>
        </div>
        <div class="uk-flex uk-flex-center bounce">
            <div class="uk-card uk-card-body uk-padding-large uk-padding-remove-bottom">
                <img src="./images/arrow_gray.svg" width="80" alt="strzałka skierowana do dołu">
            </div>
        </div>
    </div>
</section>