/*------------------*
# Base
*------------------*/
body {
    color: $color-black;
    font-size: 18px;
}

.uk-container-xlarge {
    max-width: 1920px;
    padding: 0;
}

html,
body,
h1,
h2 {
    font-family: $base-font-family;
}

h1,
h2 {
    font-size: $h1-size;
}

.fs-48 {
    font-size: 48px;
}

.hr {
    display: inline-block;
    width: 200px;
    height: 4px;
    background-color: #000;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.divider {
    display: block;
    width: 300px;
    max-width: 80%;
    height: 3.81px;
    background-color: $color-black;
    margin: 0 auto;

    &--white {
        background-color: $color-white;
    }
}

.uk-link,
a {
    color: $color-black;
}


@media only screen and (min-width: 640.1px) {
    body {
        font-size: $base-font-size;
    }

    footer {
        .divider {
            margin: 0;
        }
    }

    // dla kogo
    .section-orange {
        ul {
            li {
                font-size: 34px;
                color: #fff;
            }
        }
    }
}