.slider {
    border: 1px solid $color-gray;
    font-weight: 200;

    &__content {
        &-left {
            margin-left: 20%;
        }

        &-right {
            margin-right: 10%;
        }
    }

    h2 {
        font-size: $base-font-size;
        font-weight: 200;
    }
}