.sticky-note {
    position: relative;
    background: $color-gold;
    color: #fff;
    width: 187.77px;
    text-align: center;
    font-size: 26px;
    padding: 0 10px;
    font-weight: bold;

    &:before {
        position: absolute;
        content: "";
        width: 210px;
        height: 40px;
        left: 0px;
        top: 2px;
        transform: rotate(1deg);
        background: $color-black;
        z-index: -1;
    }
}